<?xml version="1.0" encoding="UTF-8"?>

<!-- The root node for Magento module configuration -->
<config>


    <!-- The module's node contains basic information about each Magento module -->
    <modules>
        <!-- This must exactly match the namespace and module's folder names, with directory separators replaced by underscores -->
        <MiniOrange_2factor>
            <!-- The version of our module -->
            <version>1.0.2</version>
        </MiniOrange_2factor>
    </modules>
	
	
	<!-- we are making changes to the backend -->
	<admin>
	 <routers>
		<adminhtml> 
			<args>
			   <modules>
						<MiniOrange_2factor_Adminhtml>MiniOrange_2factor_Adminhtml_Login</MiniOrange_2factor_Adminhtml>						
                </modules>
			</args>
		 </adminhtml>
		 <miniorange_2factor>
			<use>admin</use>
			<args>
			   <module>MiniOrange_2factor</module>
			   <frontName>miniorange_2factor</frontName>
			</args>
		 </miniorange_2factor>
	  </routers>
	 </admin>
	 <adminhtml>
	   <layout>
		  <updates>
			  <miniorange_2factor_admin_layout>
				  <file>miniorange_2factor_admin.xml</file>
			   </miniorange_2factor_admin_layout>
		  </updates>
	   </layout>
	   <menu>
	    <miniOrange translate="title">
            <title>miniOrange</title>
            <sort_order>81</sort_order>
            <children>
                <configure_extension>
					   <title>Two Factor Configuration</title>
					   <sort_order>1</sort_order>
					   <action>miniorange_2factor/adminhtml_index</action>
				</configure_extension>
            </children>
        </miniOrange>
		</menu>
	</adminhtml>
	
	
	<!-- Configure our module's behavior in the global scope -->
    <global>
        <models>
            <MiniOrange_2factor>
                <class>MiniOrange_2factor_Model</class>
            </MiniOrange_2factor>
        </models>
		
		
		<!-- Definition of our blocks -->
        <blocks>
            <MiniOrange_2factor>  
                <class>MiniOrange_2factor_Block</class>
            </MiniOrange_2factor>
        </blocks>
		
		
		<!-- Declaration for the helper class-->
		<helpers>
			<MiniOrange_2factor>
				<class>MiniOrange_2factor_Helper</class>
			</MiniOrange_2factor>
		</helpers>  
		
        <!-- Defining our event observer -->
        <events>				
			<controller_action_predispatch>
                <observers>
                    <miniorange_2factor_login>
                        <class>MiniOrange_2factor/observer</class>
                        <method>controllerActionPredispatch</method>
                    </miniorange_2factor_login>
                </observers>
            </controller_action_predispatch>	
        </events>
		
		
        <!-- Defining our resources -->
		 <resources>
            <MiniOrange_2factor_setup>
                <setup>
                    <module>MiniOrange_2factor</module>
                </setup>
            </MiniOrange_2factor_setup>
        </resources>
		
    </global>

	
</config>