.label-progressBarWait {
    margin: 4%;
    text-transform: uppercase
}

#error-cancel,
#slide1,
#slide2,
#slide3,
.button,
.login-header a,
.login-header a:hover {
    text-decoration: none
}

.miniorange-password,
.miniorange-username {
    display: inline;
    float: left;
    width: 50%
}

#miniorange-button {
    margin-top: 1%;
    float: right
}

#logo-miniorange {
    width: 44%;
    margin-left: 2%;
    margin-top: 2%
}

#loginScreen,
.center {
    text-align: center;
    width: 100%
}

.center {
    display: table
}

#showQrCode {
    margin: 5%
}

#loginScreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5)
}

.label {
    float: left
}

.login-content {
    height: 84%
}

.login-footer,
.login-header {
    padding: 1%;
    position: relative;
    height: 6%;
    background: #D0D0D0
}

.login-header {
    border-radius: 7px 7px 0 0;
    font-size: 18px;
    font-weight: 700
}

.login-footer {
    border-radius: 0 0 7px 7px
}

.login-header a {
    float: right;
    cursor: pointer;
    font-size: 20px;
    padding: 1%
}

.login-header a:hover {
    color: #F0F
}

.form a {
    margin-bottom: 4%;
    text-align: center;
    display: table-cell;
    vertical-align: middle
}

.button {
    padding: 8px 40px;
    cursor: pointer;
    font-size: 14px
}

.panel-content {
    width: 450px;
    height: 400px;
    margin: -250px auto 0 -220px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    overflow: visible;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 4px 4px 3px #484848
}

.form #email {
    float: left;
    width: 100%
}

.progressBar {
    display: none;
    margin: 0 auto;
    position: absolute
}

.progressBarWait {
    display: block;
    margin: 0 auto
}

#label-progressBar,
#label-progressBar-forgotphone {
    margin: 2% 0;
    text-transform: uppercase
}

#forgotPhone,
#otpoversms,
#softoken {
    padding: 5%
}

.info {
    font-size: 15px;
    margin-bottom: 3%;
    color: #ea7601
}

#forgotPhoneOtp,
#smsotp,
#softokeninput {
    display: block;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    font-size: 13px
}

#forgotPhone-button,
#kba-button,
#smsotp-button,
#softtoken-button {
    margin-bottom: 3%;
    font-size: 15px;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #FFF;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: #f7934d
}

.mo2f_kba_textbox,
input[type=number],
textarea {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #c2c2c2;
    box-shadow: 1px 1px 4px #ebebeb;
    -moz-box-shadow: 1px 1px 4px #ebebeb;
    -webkit-box-shadow: 1px 1px 4px #ebebeb;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: 0;
    width: 100%
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

.mo2f_kba_textbox:focus,
td>input:focus,
textarea:focus {
    border: 1px solid #ff8500
}

#authform {
    margin-top: 1%;
    float: left;
    width: 100%
}

#slider1>ul>li>img,
#slider2>ul>li>img,
#slider3>ul>li>img {
    left: 0
}

#slider1,
#slider2,
#slider3 {
    position: relative;
    overflow: hidden;
    display: none
}

#slider1>ul,
#slider2>ul,
#slider3>ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none
}

#slider1>ul>li,
#slider2>ul>li,
#slider3>ul>li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 450px;
    height: 260px;
    text-align: center
}

.control_info,
.control_next,
.control_prev {
    position: absolute;
    z-index: 999;
    cursor: pointer
}

.control_prev {
    left: 0;
    top: 36%;
    transform: rotate(180deg)
}

.control_next {
    right: 0;
    top: 35%
}

.goBackPreview {
    display: none;
    font-size: 14px;
    margin: 4% 0
}

#slide {
    cursor: pointer;
    font-size: 14px
}

.mini-messages {
    margin-bottom: 1%
}

.mini-messages li {
    margin: 0 5%;
    min-height: 23px!important;
    padding: 4px 0 1px 8px!important;
    font-weight: 700!important;
    text-align: left
}

#progress_bar {
    background: url(http://auth.miniorange.com/moas/images/ajax-loader4.gif) no-repeat;
    display: block;
    margin: 3% auto;
    height: 140px;
    width: 140px
}

.error-msg {
    border-radius: 2px
}

#error-cancel {
    color: red;
    font-size: 21px;
    float: right
}

.control_info {
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 1%;
    width: 20px;
    background-color: #b7b3b3;
    height: 20px;
    top: 2%;
    font-size: 13px;
    left: 4%;
    font-weight: 700;
    font-family: "Trebuchet MS", Helvetica, sans-serif
}

#slider1 img,
#slider2 img,
#slider3 img {
    display: block;
    margin: auto;
    width: 100%
}

.miniorange_trust_device_button {
    width: 25%;
    height: 30px;
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    padding: 0 12px 2px;
    border-width: 1px;
    color: #fff;
    border-radius: 3px;
    white-space: nowrap
}